@import url('http://fonts.cdnfonts.com/css/gilroy-bold');
.home-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 80px;
    padding-left: 200px;
    
    
}
.stat11{
 padding-left: 300px;
 padding-right: 50px;
 padding-top: 60px;
 
}
.descriptiontitle{
  font-family: 'Gilroy-Bold', sans-serif;
}
.description1{
  font-size: 15px;
  font-family: 'Gilroy-Light', sans-serif;
}